# Docker development settings

########################################
# Application
########################################

CACHE_DRIVER=file
SESSION_DRIVER=redis
SESSION_LIFETIME=120
QUEUE_DRIVER=redis

DB_CONNECTION=mysql
DB_HOST=mysql
DB_PORT=3306
DB_DATABASE=homestead
DB_USERNAME=homestead
DB_PASSWORD=secret

REDIS_HOST=redis

########################################
# PHP Environment
########################################

APP_ENV=local

# Opcache
PHP_OPCACHE_VALIDATE_TIMESTAMPS=1

# XDebug
PHP_XDEBUG_MODE=debug
PHP_XDEBUG_CLIENT_HOST=192.168.86.31
PHP_XDEBUG_START_WITH_REQUEST=yes
PHP_XDEBUG_CLIENT_PORT=9001
PHP_XDEBUG_IDE_KEY=DOCKER_PHPSTORM
PHP_XDEBUG_OUTPUT_DIR=/var/www/html/storage/logs
