# Docker development settings

########################################
# PHP Environment
########################################
# Opcache
PHP_OPCACHE_VALIDATE_TIMESTAMPS=1

# XDebug
PHP_XDEBUG_MODE=debug
PHP_XDEBUG_CLIENT_HOST=192.168.86.31
PHP_XDEBUG_START_WITH_REQUEST=yes
PHP_XDEBUG_CLIENT_PORT=9001
PHP_XDEBUG_IDE_KEY=DOCKER_PHPSTORM
PHP_XDEBUG_OUTPUT_DIR=/var/www/html/storage/logs
